<a href="https://colab.research.google.com/github/RuthStowers/MAT421/blob/main/Module_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MAT 421 -- Ruth Stowers
Module A

Chapter 9.1 Base-N and Binary

In our society, we are most used to using a number system with a base of 10. Since computers can only work with the numbers 0 and 1, they work with a number system of base 2, commonly referred to as binary numbers.

Here are two examples of numbers (base 10) converted to binary (base 2) using code.

1. 20 (base 10)

In [1]:
bin(20) #converting 20 to binary

'0b10100'

2. 123 (base 10)

In [2]:
bin(123) #converting 123 to binary

'0b1111011'

We can also add and multiply binary numbers using code.

3. Convert 7 and 22 to binary and then add them.

In [7]:
bin(7) #converting 7 to binary
bin(22) #converting 22 to binary
x = 0b111 #initializing x as a binary of 7
y = 0b10110 #initializing y as a binary of 22
z = x + y #storing balue of "x + y" in z
print(f"{z:b}") #printing result of z as binary

11101

4. Multiply 7 and 22.

In [8]:
x = 0b111 #initializing x as a binary of 7
y = 0b10110 #initializing y as a binary of 22
z = x * y #storing value of "x * y" in z
print(f"{z:b}") #printing result of z as binary

10011010

Chapter 9.1 Floating Point Numbers

In order to increase the range and precision of digital number representation, we use floating point numbers. Almost all platforms map Python floats to the IEEE754 double precision - 64 total bits. They consist of three parts: the sign indicator (1 bit), the exponent (11 bits), and the fraction (52 bits).

The code information for float is as follows.

In [1]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

There are limits to the range and precision of numbers that can be represented by a float. Here are two examples of numbers outside of the float range of capabilities.

Overflow: Numbers that are larger than the largest representable floating point number.

In [4]:
1.99e312 #print number

inf

Underflow: Numbers that are smaller than the smallest subnormal number.

In [5]:
2 ** (-1080) #print number

0.0

Since computations are limited to binary code, there are 'gaps' between float numbers of base 10. 

These gaps can be computed using the function spacing in numpy.

In [8]:
import numpy as np #calling space function in numpy
np.spacing(1e2) #gap at 1e2

1.4210854715202004e-14

In [9]:
1e2 == (1e2 + np.spacing(1e2)/3) #verifying that adding to 1e2 and less than half the gap at 1e2 is the same number

True

9.3 Round-off Errors

Because a floating number cannot be stored with perfect precision, there is an error between the appoximated number used in computations and the true value. This error is called a round-off error.

An example of a round-off error is as follows.

In [1]:
3.0-2.957 == 0.043 #round-off

False

In [2]:
3.0 - 2.957 #python calculation

0.04300000000000015

To verify that this is a true statement:

In [3]:
round(3.0-2.957, 7) == round(0.043,7) #round function to make a previous equation true

True

These small errors can accumulate as computations occur multiple times, increasing the value of the error.

For example, adding a fraction and subtracting the same fraction a large number of times will eventually lead to a very large error as seen below.

In [4]:
10 + 1/7 - 1/7

10.0

In [6]:
def add_and_subract(iterations): #defining function
  result = 10

  for i in range(iterations): #loop for adding 1/7 the number of iterations
    result += (1/7)

  for i in range(iterations): #loop for subtracting 1/7 the number of iterations
    result -= (1/7)
  return result

In [7]:
add_and_subract(1000) #run function 1000 times

9.999999999999996

In [8]:
add_and_subract(10000) #run function 10000 times

10.000000000000107